# List

In [1]:
lst = ['apple', 'mango', 'banana']
print(f"The list is: {lst}")

The list is: ['apple', 'mango', 'banana']

# Allow Duplicates

In [2]:
lst = ['apple', 'mango', 'banana', 'apple', 'strawberry', 'mango']
print(f"The list is: {lst}")

The list is: ['apple', 'mango', 'banana', 'apple', 'strawberry', 'mango']

# List Length: len(list_name)

In [6]:
lst = ['apple', 'mango', 'banana', 'apple', 'strawberry', 'mango']
print(f"The length of the list is: {len(lst)}")

The length of the list is: 6

# List Items - Data Types

In [7]:
lst1 = [1, 4,'apple', 56.9, True]
print(f"The List: {lst1}")

The List: [1, 4, 'apple', 56.9, True]

# To check the type: type(list_name)

In [10]:
lst = ['apple', 'mango', 'banana']
lst_type = type(lst)
print(f"The type of List: {lst_type}")

The type of List: <class 'list'>

# List() Constructor

In [11]:
this_list = list(("Apple", "Mango", "banana")) 
print(f"The list: {this_list}")

The list: ['Apple', 'Mango', 'banana']

# Access Items: list_name(index)

In [15]:
this_list = list(("Apple", "Mango", "banana")) 
print(f"The 1st item: {this_list[0]}")
print(f"The 2nd item: {this_list[1]}")
print(f"The 3rd item: {this_list[2]}")

The 1st item: Apple
The 2nd item: Mango
The 3rd item: banana

# Negative Indexing

In [17]:
this_list = list(("Apple", "Mango", "banana")) 
print(f"The 3rd item: {this_list[-1]}")
print(f"The 2nd item: {this_list[-2]}")
print(f"The 1st item: {this_list[-3]}")

The 3rd item: banana
The 2nd item: Mango
The 1st item: Apple

# Range of Indexes: list_name[start:end]

In [20]:
lst = ['apple', 'mango', 'banana', 'apple', 'strawberry', 'mango']
print(lst[2:5]) 
print(lst[:5]) #from start
print(lst[3:]) #till end

['banana', 'apple', 'strawberry']
['apple', 'mango', 'banana', 'apple', 'strawberry']
['apple', 'strawberry', 'mango']

# Check if Item Exists

In [23]:
lst = ['apple', 'mango', 'banana', 'apple', 'strawberry', 'mango']
if 'strawberry' in lst:
    print(f"The item \'{lst[4]}\' exists.")

The item 'strawberry' exists.

# Change Item Value

In [24]:
lst = ['apple', 'mango', 'banana', 'apple', 'strawberry', 'mango']
lst[3] = 56
print(f"The Chnaged list: {lst}")

The Chnaged list: ['apple', 'mango', 'banana', 56, 'strawberry', 'mango']

# Change a Range of Item Values

In [28]:
lst = ['Ramsay', 23 , 'Thrones', 'Net', 2024, 3.85, True]
print(f"The List {lst}")
lst[3:5] = [89,67,'Rob']
print(f"The new List {lst}")

The List ['Ramsay', 23, 'Thrones', 'Net', 2024, 3.85, True]
The new List ['Ramsay', 23, 'Thrones', 89, 67, 'Rob', 3.85, True]

# Insert Items: list_name.insert(index, value)

In [2]:
list1=['apple', 'mango', 'banana']
list1.insert(2,'orange')
print(list1)

['apple', 'mango', 'orange', 'banana']

# Append/add Items: list_name.append(value)

In [3]:
list1=['apple', 'mango', 'banana']
list1.append('orange')
print(list1)

['apple', 'mango', 'banana', 'orange']

# Extend List: list1_name.extend(list2_name)

In [4]:
list1=['apple', 'mango', 'banana']
list2=['orange', 'pineapple', 'grapes']
list1.extend(list2)
print(list1)

['apple', 'mango', 'banana', 'orange', 'pineapple', 'grapes']

# Add Any Iterable: The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [15]:
list1=['apple', 'mango', 'banana']
tup=("orange", "melon")
list1.extend(tup)
print(list1)

['apple', 'mango', 'banana', 'orange', 'melon']

# Remove Specified Item: list_name.remove(value)

In [16]:
list1=['apple', 'mango', 'banana']
list1.remove('apple')
print(list1)

['mango', 'banana']

# If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [17]:
list1=['apple', 'mango', 'banana','apple']
list1.remove('apple')
print(list1)

['mango', 'banana', 'apple']

# Remove Specified Index: list_name.pop(index)

In [18]:
list1=['apple', 'mango', 'banana','apple']
list1.pop(2)
print(list1)

['apple', 'mango', 'apple']

# If you do not specify the index, the pop() method removes the last item.

In [19]:
list1=['apple', 'mango', 'banana','apple']
list1.pop()
print(list1)

['apple', 'mango', 'banana']

# del list_name[index] 
# The del keyword also removes the specified index:

In [20]:
list1=['apple', 'mango', 'banana','apple']
del list1[1]
print(list1)

['apple', 'banana', 'apple']

# The del keyword can also delete the list completely.

In [22]:
list1=['apple', 'mango', 'banana','apple']
del list1

# Clear the List: list_name.clear()

In [23]:
list1=['apple', 'mango', 'banana','apple']
list1.clear()
print(list1)

[]

# List and loops

# using for loop

In [25]:
list1=['apple', 'mango', 'banana','orange', 'kiwi', 'watermelon']
for i in list1:
    print(i)

apple
mango
banana
orange
kiwi
watermelon

# Loop Through the Index Numbers: using range and len

In [26]:
list1=['apple', 'mango', 'banana','orange', 'kiwi', 'watermelon']
for i in range(len(list1)):
    print(i)

0
1
2
3
4
5

# using while loop

In [28]:
list1=['apple', 'mango', 'banana','orange', 'kiwi', 'watermelon']
i=0
while i < len(list1):
    print(list1[i])
    i+=1

apple
mango
banana
orange
kiwi
watermelon

# Looping Using List Comprehension: [print(i) for i in list_name]

In [30]:
list1=['apple', 'mango', 'banana','orange', 'kiwi', 'watermelon']
[print(i) for i in list1]

apple
mango
banana
orange
kiwi
watermelon

[None, None, None, None, None, None]

# Sort List Alphanumerically: list_name.sort()

In [32]:
list1=['apple', 'mango', 'banana','orange', 'kiwi', 'watermelon']
list1.sort()
print(list1)

['apple', 'banana', 'kiwi', 'mango', 'orange', 'watermelon']

# Sort the list numerically

In [33]:
list1=[10, 89,30,782,8,0,189]
list1.sort()
print(list1)

[0, 8, 10, 30, 89, 189, 782]

# Sort Descending: list_name.sort(reverse=True)

In [34]:
list1=['apple', 'mango', 'banana','orange', 'kiwi', 'watermelon']
list1.sort(reverse=True)
print(list1)

['watermelon', 'orange', 'mango', 'kiwi', 'banana', 'apple']

# Case Insensitive Sort: sort capital letters before small

In [36]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
list1.sort()
print(list1)

['Banana', 'Kiwi', 'Mango', 'apple', 'orange', 'watermelon']

In [39]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
list1.sort(key=str.lower)
print(list1)

['apple', 'Banana', 'Kiwi', 'Mango', 'orange', 'watermelon']

# Copy a List: list_name.copy()

In [40]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
new_list = list1.copy()
print(new_list)

['apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon']

# Another way to make a copy: list(list_name)

In [41]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
new_list = list(list1)
print(new_list)

['apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon']

# Use the slice Operator: list_name[start:end]

In [42]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
new_list = list1[:]
print(new_list)

['apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon']

In [43]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
new_list = list1[2:]
print(new_list)

['Banana', 'orange', 'Kiwi', 'watermelon']

In [44]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
new_list = list1[1:4]
print(new_list)

['Mango', 'Banana', 'orange']

# Join Two Lists: list1_name + list2_name

In [45]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
list2=[10, 89,30,782,8,0,189]
new_list = list1 + list2
print(new_list)

['apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon', 10, 89, 30, 782, 8, 0, 189]

# another way: list1_name.append(list2_items)

In [100]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
list2=[10, 89,30,782,8,0,189]
for x in list2:
    list1.append(x)
print(list1)

['apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon', 10, 89, 30, 782, 8, 0, 189]

# another way: list1_name.extend(list2_name)

In [49]:
list1=['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
list2=[10, 89,30,782,8,0,189]
list1.extend(list2)
print(list1)

['apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon', 10, 89, 30, 782, 8, 0, 189]

# Python Tuples

In [51]:
tuple1 = ("Islamabad", "Lahore", "Sahiwal")
print(tuple1)

('Islamabad', 'Lahore', 'Sahiwal')

# Allow Duplicates

In [52]:
tuple1 = ("Islamabad", "Lahore", "Sahiwal", "Saiwal", "Lahore")
print(tuple1)

('Islamabad', 'Lahore', 'Sahiwal', 'Saiwal', 'Lahore')

# Tuple Length: len(tuple_name)

In [53]:
tuple1 = ("Islamabad", "Lahore", "Sahiwal")
print(len(tuple1))

3

# Create Tuple With One Item

In [54]:
tuple1 = ("Islamabad", )
print(tuple1)

('Islamabad',)

# not a tuple

In [56]:
tuple1 = ("Islamabad")
print(tuple1)
print(type(tuple1))

Islamabad
<class 'str'>

# Tuple Items - Data Types

In [59]:
tuple1 = (1,2,3,4,5)
tuple2 = (True, False, True)
tuple3 = ("Name", "Age", "Class")
print(f"{tuple1} \n{tuple2} \n{tuple3}")

(1, 2, 3, 4, 5)
(True, False, True)
('Name', 'Age', 'Class')

# A tuple can contain different data types:

In [60]:
tuple1 = ("Name", 1, True)
print(tuple1)

('Name', 1, True)

# to check the type: type(tuple_name)

In [61]:
tuple1 = ("Name", 1, True)
print(type(tuple1))

<class 'tuple'>

# The tuple() Constructor: tuple_name = tuple((items))

In [62]:
tuple1 = tuple((1,2,3, 'name', 'ginger', True))
print(tuple1)

(1, 2, 3, 'name', 'ginger', True)

# Access Tuple Items: tuple_name[index]

In [63]:
tuple1 = tuple((1,2,3, 'name', 'ginger', True))
print(tuple1[3])

name

# Negative Indexing

In [64]:
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
print(tuple1[-1])

watermelon

# Range of Indexes: tuple_name[start:end]

In [65]:
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
print(tuple1[2:6])

('Banana', 'orange', 'Kiwi', 'watermelon')

# leaving out the start value

In [67]:
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
print(tuple1[:4])

('apple', 'Mango', 'Banana', 'orange')

# leaving out the end value

In [68]:
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
print(tuple1[3:])

('orange', 'Kiwi', 'watermelon')

# Range of Negative Indexes

In [69]:
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
print(tuple1[-3:-1])

('orange', 'Kiwi')

# Check if Item Exists: using if-else condition statement

In [70]:
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
if "Mango" in tuple1:
    print("Yes! Tuple has Mango.")
else:
    print("No! Tuple has no such item.")

Yes! Tuple has Mango.

# Change Tuple Values: tuples are unchangeable/immutable

In [76]:
#othet way
#change list into tuple after updation in list

list1 = ['apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon']
list1.append("melon")
print(f"this is list: {list1}")
tuple1 = tuple(list1)
print(f"this is tuple: {tuple1}")

this is list: ['apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon', 'melon']
this is tuple: ('apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon', 'melon')

In [78]:
#Add tuple to a tuple
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
y = ("strawberry", )
tuple1 += y
print(tuple1)

('apple', 'Mango', 'Banana', 'orange', 'Kiwi', 'watermelon', 'strawberry')

# Remove Items: tuple_name.remove(item)

In [83]:
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
y = list(tuple1)
y.remove("Banana")
tuple1 = tuple(y)
print(tuple1)

('apple', 'Mango', 'orange', 'Kiwi', 'watermelon')

# delete the tuple completely: del tuple_name

In [84]:
tuple1=('apple', 'Mango', 'Banana','orange', 'Kiwi', 'watermelon')
del tuple1
print(tuple1)  #this will raise an error because the tuple no longer exists

NameError: name 'tuple1' is not defined

# Unpacking a Tuple: (item1, item2, ......, itemn) = tuple_name

In [87]:
fruits = ("apple", "mango", "strawberry") 
(red, yellow, pink) =fruits
print(red)
print(yellow)
print(pink)

apple
mango
strawberry

# Using Asterisk*: (item1, item2, *item3) = tuple_name

In [88]:
fruits = ("apple", "mango", "strawberry", "melon", "kiwi", "banana", "pineapple", "date") 
(red, yellow, *pink) =fruits
print(red)
print(yellow)
print(pink)

apple
mango
['strawberry', 'melon', 'kiwi', 'banana', 'pineapple', 'date']

In [89]:
fruits = ("apple", "mango", "strawberry", "melon", "kiwi", "banana", "pineapple", "date") 
(red, *yellow, pink) =fruits
print(red)
print(yellow)
print(pink)

apple
['mango', 'strawberry', 'melon', 'kiwi', 'banana', 'pineapple']
date

# Loop Tuples

# for loop

In [90]:
fruits = ("apple", "mango", "strawberry", "melon", "kiwi", "banana", "pineapple", "date") 
for x in fruits:
    print(x)

apple
mango
strawberry
melon
kiwi
banana
pineapple
date

# Loop Through the Index Numbers: range(len(tuple_name))

In [92]:
fruits = ("apple", "mango", "strawberry", "melon", "kiwi", "banana", "pineapple", "date") 
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 mango
2 strawberry
3 melon
4 kiwi
5 banana
6 pineapple
7 date

# While Loop

In [94]:
fruits = ("apple", "mango", "strawberry", "melon", "kiwi", "banana", "pineapple", "date") 
i= 0
while i < len(fruits):
    print(i, fruits[i])
    i += 1

0 apple
1 mango
2 strawberry
3 melon
4 kiwi
5 banana
6 pineapple
7 date

# Join Two Tuples: tuple1 + tuple2

In [95]:
fruits = ("apple", "mango", "strawberry", "melon", "kiwi", "banana", "pineapple", "date") 
colors = ("red", "blue", "yellow", "pink", "green", "black", "gray")
tuple1 = fruits + colors
print(tuple1)

('apple', 'mango', 'strawberry', 'melon', 'kiwi', 'banana', 'pineapple', 'date', 'red', 'blue', 'yellow', 'pink', 'green', 'black', 'gray')

# Multiply Tuples: tuple_name * 2

In [96]:
colors = ("red", "blue", "yellow", "pink", "green", "black", "gray")
tuple1 = colors*2
print(tuple1)

('red', 'blue', 'yellow', 'pink', 'green', 'black', 'gray', 'red', 'blue', 'yellow', 'pink', 'green', 'black', 'gray')

# Returns the number of times a specified value occurs: tuple_name.count(item)

In [97]:
colors = ("red", "blue", "yellow", "pink", "green", "black", "gray")
tuple1 = colors*2
print(tuple1.count("red"))

2

# Searches the tuple for a specified value and returns the position:
# tuple_name.index(item)

In [99]:
colors = ("red", "blue", "yellow", "pink", "green", "black", "gray")
print(colors.index("black"))

5