# Python Sets

In [4]:
set1 = {'cricket', 'basketball', 'bedminton'}
print(set1)

{'cricket', 'bedminton', 'basketball'}

# Set Items

In [5]:
#Set items are unordered, unchangeable, and do not allow duplicate values.

# Duplicates Not Allowed

In [6]:
set1 = {'cricket', 'basketball', 'bedminton', 'cricket'}
print(set1)

{'cricket', 'bedminton', 'basketball'}

# True and 1 is considered the same value:

In [7]:
set1 = {'cricket', 'basketball', 'bedminton', 1 , 2 , True}
print(set1)

{1, 2, 'cricket', 'bedminton', 'basketball'}

# False and 0 is considered the same value:

In [8]:
set1 = {'cricket', 'basketball', 'bedminton', 1 , 2 , 0,False,  True}
print(set1)

{0, 1, 2, 'cricket', 'bedminton', 'basketball'}

# Length of a Set: len(set_name)

In [9]:
set1 = {'cricket', 'basketball', 'bedminton', 1 , 2 , 0,False,  True}
print(len(set1))

6

# Set Items - Data Types

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {True, False}
set3 = {'cricket', 'basketball', 'bedminton'}
print(set1)
print(set2)
print(set3)

{1, 2, 3, 4, 5}
{False, True}
{'cricket', 'bedminton', 'basketball'}

# to check the type: type(set_name)

In [11]:
set1 = {True, False}
print(type(set1))

<class 'set'>

# The set() Constructor: set(container_name)

In [12]:
list1 = [1,2,3,4,5]
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5}

# Access Items

In [13]:
set1 = {"apple", "banana", "mango"}
for x in set1:
    print(x)

banana
mango
apple

In [14]:
set1 = {"apple", "banana", "mango"}
print("banana" in set1)

True

In [15]:
set1 = {"apple", "banana", "mango"}
print("banana" not in set1)

False

# Add Items

In [16]:
set1 = {"apple", "banana", "mango"}
set1.add("orange")
print(set1)

{'banana', 'mango', 'apple', 'orange'}

# Add Sets: Update()

In [17]:
set1 = {"apple", "banana", "mango"}
set2 = {"carrot", "lady finger", "raddish"}

set1.update(set2)
print(set1)

{'banana', 'raddish', 'carrot', 'mango', 'apple', 'lady finger'}

# Add Any Iterable

In [18]:
set1 = {"apple", "banana", "mango"}
list1 = ["kiwi", "orange"]

set1.update(list1)
print(set1)

{'banana', 'kiwi', 'orange', 'mango', 'apple'}

# Remove Item: Remove() or discard()

In [19]:
set1 = {"apple", "banana", "mango"}
set1.remove("banana")
print("set = ", set1)

set =  {'mango', 'apple'}

In [20]:
set1 = {"apple", "banana", "mango"}
set1.discard("banana")
print("set = ", set1)

set =  {'mango', 'apple'}

# Remove random item: pop()

In [21]:
set1 = {"apple", "banana", "mango"}
set1.pop()
print("set = ", set1)

set =  {'mango', 'apple'}

# Clear the set: clear()

In [22]:
set1 = {"apple", "banana", "mango"}
set1.clear()
print("set = ", set1)

set =  set()

# Delete the set completely: del

In [23]:
set1 = {"apple", "banana", "mango"}
del set1

# Loop Items: for loop

In [24]:
set1 = {"apple", "banana", "mango"}
for x in set1:
    print(x)

banana
mango
apple

# Union of sets: union()

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

# use the | operator instead of the union() method

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1|set2
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

# Join Multiple Sets

In [27]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"apple", "mango", "orange"}
set4 = {"++", "**"}

all_sets = set1.union(set2,set3,set4)
print(all_sets)

{1, 2, 3, '**', 'orange', 'b', 'a', '++', 'c', 'mango', 'apple'}

In [28]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"apple", "mango", "orange"}
set4 = {"++", "**"}

all_sets = set1|set2|set3|set4
print(all_sets)

{1, 2, 3, '**', 'orange', 'b', 'a', '++', 'c', 'mango', 'apple'}

# Join a Set and a Tuple

In [29]:
set1 = {"a", "b", "c"}
tuple1 = (1,2,3)

z = set1.union(tuple1)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

# update() method inserts the items in set2: update()

In [30]:
set1 = {"a", "b", "c"}
tuple1 = (1,2,3)

set1.update(tuple1)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

# Join set1 and set2, but keep only the duplicates: intersection()

In [31]:
set1 = {"a", "b", "c", 3}
tuple1 = (1,2,3)

z = set1.intersection(tuple1)
print(z)

{3}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [33]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

# Difference(): return a new set that will contain only the items from the first set

In [34]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

# symmetric_difference(): method will keep only the elements that are NOT present in both sets

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

# ^ operator instead of the symmetric_difference()

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

# symmetric_difference_update() method to keep the items that are not present in both sets

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'banana', 'cherry', 'microsoft', 'google'}

# Python Dictionaries

In [40]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

print(thisdict)

{'Name': 'Sansa Stark', 'Class': 'Masters', 'Roll No.': 239018}

# Dictionary Items: dict_name[item_name]

In [41]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

print(thisdict["Name"])

Sansa Stark

# Duplicates Not Allowed

In [42]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018,
    "Roll No." : 239018
}

print(thisdict)

{'Name': 'Sansa Stark', 'Class': 'Masters', 'Roll No.': 239018}

# Dictionary Length: len(dict_name)

In [43]:
print(len(thisdict))

3

# Dictionary Items - Data Types

In [44]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018,
    "color" : ['brown', 'blue', 'red']
}

print(thisdict)

{'Name': 'Sansa Stark', 'Class': 'Masters', 'Roll No.': 239018, 'color': ['brown', 'blue', 'red']}

# type()

In [45]:
print(type(thisdict))

<class 'dict'>

# The dict() Constructor

In [46]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# Accessing Items: dict_name[item_name]

In [47]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

print(thisdict["Name"])

Sansa Stark

# get(): give the same result

In [48]:
print(thisdict.get("Name"))

Sansa Stark

# keys(): returns list of all keys

In [49]:
print(thisdict.keys())

dict_keys(['Name', 'Class', 'Roll No.'])

# Can change the value of particular key

In [50]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

# Get Values: values()

In [51]:
x = thisdict.values()
print(x)

dict_values(['Sansa Stark', 'Masters', 239018])

# Get Items: items()

In [52]:
x = thisdict.items()
print(x)

dict_items([('Name', 'Sansa Stark'), ('Class', 'Masters'), ('Roll No.', 239018)])

In [53]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

# Check if Key Exists

In [54]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

if "Name" in thisdict:
    print("Yes! it is in it")

Yes! it is in it

# Change Dictionary Items

In [55]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

thisdict["Class"] = "1st year"
print(thisdict)

{'Name': 'Sansa Stark', 'Class': '1st year', 'Roll No.': 239018}

# Update Dictionary: update()

In [56]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

thisdict.update({"Roll No." : 7865432000})
print(thisdict)

{'Name': 'Sansa Stark', 'Class': 'Masters', 'Roll No.': 7865432000}

# Adding Items

In [57]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

thisdict["position"] = "Class representative"
print(thisdict)

{'Name': 'Sansa Stark', 'Class': 'Masters', 'Roll No.': 239018, 'position': 'Class representative'}

# Removing Items: pop()

In [58]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

thisdict.pop("Roll No.")
print(thisdict)

{'Name': 'Sansa Stark', 'Class': 'Masters'}

# popitem(): method removes the last inserted item

In [59]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

thisdict.popitem()
print(thisdict)

{'Name': 'Sansa Stark', 'Class': 'Masters'}

# del: delete dictionary

In [60]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

del thisdict["Name"]
print(thisdict)

{'Class': 'Masters', 'Roll No.': 239018}

# clear(): empties the dictionary

In [61]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

thisdict.clear()
print(thisdict)

{}

# Loop Through a Dictionary

In [65]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}

for x in thisdict:
    print(x)

Name
Class
Roll No.

# Print all values

In [68]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}
for x in thisdict:
  print(thisdict[x])

Sansa Stark
Masters
239018

# You can also use the values()

In [69]:
for x in thisdict.values():
  print(x)

Sansa Stark
Masters
239018

# You can use the keys()

In [70]:
for x in thisdict.keys():
  print(x)

Name
Class
Roll No.

# Loop through both keys and values: use item()

In [71]:
for x, y in thisdict.items():
  print(x, y)

Name Sansa Stark
Class Masters
Roll No. 239018

# Copy a Dictionary

In [73]:
thisdict = {
    "Name" : "Sansa Stark",
    "Class" : "Masters",
    "Roll No." : 239018
}
mydict = thisdict.copy()
print(mydict)

{'Name': 'Sansa Stark', 'Class': 'Masters', 'Roll No.': 239018}

# Another way: built-in function dict()

In [74]:
mydict = dict(thisdict)
print(mydict)

{'Name': 'Sansa Stark', 'Class': 'Masters', 'Roll No.': 239018}

# Nested Dictionaries

In [76]:
myfamily = {
  "child1" : {
    "name" : "Fatima",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tooba",
    "year" : 2007
  },
  "child3" : {
    "name" : "Amna",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Fatima', 'year': 2004}, 'child2': {'name': 'Tooba', 'year': 2007}, 'child3': {'name': 'Amna', 'year': 2011}}

# add three dictionary into one

In [82]:
child1 = {
    "name" : "Fatima",
    "year" : 2004
}
child2 = {
    "name" : "Taniya",
    "year" : 2007
}
child3 = {
    "name" : "Amna",
    "year" : 2011
}
myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Fatima', 'year': 2004}, 'child2': {'name': 'Taniya', 'year': 2007}, 'child3': {'name': 'Amna', 'year': 2011}}

# Access Items in Nested Dictionaries

In [83]:
print(myfamily["child2"]["name"])

Taniya

# Loop Through Nested Dictionaries

In [84]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Fatima
year: 2004
child2
name: Taniya
year: 2007
child3
name: Amna
year: 2011